#outerbox
{
	width:559px;
	height:264px;
	overflow:hidden;
}
#sliderbox
{
	position:relative;
	width:1680px;
animation-name:cars;
animation-duration: 15s;
animation-iteration-count: infinite;
  }
#sliderbox img
{
  float:left;
}
@keyframes cars{

0%
{ 
   left:0px;
}
33.33%
{
   left:0px;
}
40%
{
	left: -559px;
}
66.67%
{
	left:-559px;
}
73.33%
{
	left:-1118px;
}
100%{
	left:-1118px;
}